$md-corgan-yellow: (
    50 : #fff9e1,
    100 : #fff1b4,
    200 : #ffe882,
    300 : #ffde4f,
    400 : #ffd72a,
    500 : #ffd004,
    600 : #ffcb03,
    700 : #ffc403,
    800 : #ffbe02,
    900 : #ffb301,
    A100 : #ffffff,
    A200 : #fffbf2,
    A400 : #ffeabf,
    A700 : #ffe1a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-corgan-gray: (
    50 : #ebebeb,
    100 : #cccccc,
    200 : #aaaaaa,
    300 : #888888,
    400 : #6f6f6f,
    500 : #555555,
    600 : #4e4e4e,
    700 : #444444,
    800 : #3b3b3b,
    900 : #2a2a2a,
    A100 : #f28989,
    A200 : #ed5b5b,
    A400 : #ff1616,
    A700 : #fc0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);