.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.grid-container {
  margin: 0px;
}

.dashboard-card {
  position: relative;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card {
  margin: 20px;
  max-width: 600px;
}

a {
  color: #333;
}